/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';

@include mat-core();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$spacing-unit: 4px;

@mixin ml($x) { margin-left: $spacing-unit * $x; }
@mixin mr($x) { margin-right: $spacing-unit * $x; }
@mixin mb($x) { margin-bottom: $spacing-unit * $x; }
@mixin mt($x) { margin-top: $spacing-unit * $x; }

.small-m {
  @include ml(1);
  @include mr(1);
  @include mb(1);
  @include mt(1);
}

.medium-m {
  @include ml(2);
  @include mr(2);
  @include mb(2);
  @include mt(2);
}

.large-m {
  @include ml(3);
  @include mr(3);
  @include mb(3);
  @include mt(3);
}

@mixin pl($x) { padding-left: $spacing-unit * $x; }
@mixin pr($x) { padding-right: $spacing-unit * $x; }
@mixin pb($x) { padding-bottom: $spacing-unit * $x; }
@mixin pt($x) { padding-top: $spacing-unit * $x; }

.small-p {
  @include pl(1);
  @include pr(1);
  @include pb(1);
  @include pt(1);
}

.medium-p {
  @include pl(2);
  @include pr(2);
  @include pb(2);
  @include pt(2);
}

.large-p {
  @include pl(3);
  @include pr(3);
  @include pb(3);
  @include pt(3);
}

$themed: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink),
    warn: mat-palette($mat-red)
  ),
  typography: mat-typography-config()
));

.active {
  color: mat-color(map-get($themed, primary));
}

.debug {
  border: 1px solid blue;
}